<h1>Editing Profile Card</h1>

<%= render 'form', profile_card: @profile_card %>


<div class="instructions">
  <%= link_to 'Afficher', @profile_card %> |
  <%= link_to 'Valider', profile_cards_path %>
</div>
